body {
    font-family: "Arial", sans-serif;
    font-size: 13px;
    line-height: 1.5em;
    color: white;
    background: url(../pictures/backgrounds/bg.png);
}

.music-genre-container {
    height: 500px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 10px;
    align-content: center;
}