* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
}

body {
    font-family: "Arial", sans-serif;
    font-size: 13px;
    line-height: 1.5em;
    color: white;
    background: url(../pictures/backgrounds/bg.png);
}

.clearfix {
    clear: both;
}

#container {
    width: 350px;
    min-height: 400px;
    background: #333;
    overflow: auto;
    margin: 60px auto;
    border: #666 solid 2px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#audio-img {
    position: relative;
    overflow: hidden;
    height: 200px;
    margin-bottom: 20px;
}

.cover {
    width: 100%;
    z-index: 1;
}

#audio-info {
    text-align: center;
}

#audio-info .artist{
    font-weight: bold;
}

input#volume {
    width: 95%;
    -webkit-appearance: none !important;
    margin-left: 2%;
    background: #ccc;
    height: 1px;
    margin-bottom: 20px;
}

input#volume::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background: url(../pictures/music_player/knob.png) no-repeat;
    height: 12px;
    width: 12px;
}

#audio-buttons {
    width: 90%;
    display: block;
    margin: 15px auto;
    margin-left: 25px;
    overflow: auto;
}

button#play {
    width: 70px;
    height: 70px;
    background: url("../pictures/music_player/play.png") no-repeat;
    float: left;
}

button#pause {
    width: 70px;
    height: 70px;
    background: url("../pictures/music_player/pause.png") no-repeat;
    float: left;
}

button#stop {
    width: 70px;
    height: 70px;
    background: url("../pictures/music_player/stop.png") no-repeat;
    float: left;
}

button#previous {
    width: 70px;
    height: 70px;
    background: url("../pictures/music_player/prev.png") no-repeat;
    float: left;
    margin-top: 20px;
}
button#next {
    width: 70px;
    height: 70px;
    background: url("../pictures/music_player/next.png") no-repeat;
    margin-top: 20px;
    float: right;
}

#playlist {
    list-style: none;
    padding: 10px;
}

#playlist li {
    cursor: pointer;
    margin: 5px;
    display: inline-block;
}

#playlist li.active {
    display: inline-block;
    font-weight: bold;
    padding: 3px;
    background: #666;
    width: 50%;
}
#playlist .star-widget {
    display: inline-block;
    float: right;
}

#playlist .star-widget input {
    display: none
}

#playlist .star-widget label {
    color: #444;
    float: right;
}

#playlist .star-widget label:hover,
#playlist .star-widget label:hover ~ label {
    color: gold;
    transition: 0.4s ease;
}

#playlist .star-widget input:checked ~ label {
  color: gold;
}

#progress-bar {
    width: 80%;
    margin-left: 2%;
    margin-bottom: 20px;
    margin-top: 9px;
    height: 10px;
    background: url(../pictures/music_player/progress_bg.png) no-repeat;
    float: left;
}

#progress {
    background: url(../pictures/music_player/progress.png) no-repeat;
    height: 10px;
    display: inline-block;
    position: absolute;
    top: 9px;
    left: 8px;
}

#duration {
    position: absolute;
    top: 0;
    right: 10px;
    padding: 4px 8px;
    background: #000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#tracker {
    position: relative;
    width: 100%;
}