<link rel="stylesheet" href="static/css/_music_category_browse.css">
<div>
    <div class="hovereffect">
        <img class="img-responsive" src={{ music_genre.genre_cover }} alt={{ music_genre.name }}>
        <div class="overlay">
           <h2>{{ music_genre.name }}</h2>
           <a class="info" href="#">link here</a>
        </div>
    </div>
</div>