<table>
    <tr valign="top">
        <td><img src="{{ post.author.avatar(64) }}"></td>
        <td>{{ post.author.username }} rated song __name__ on __rate__ :<br>{{ post.body }}</td>
    </tr>
</table>