{% extends 'base.html'%}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="static/css/music_browser.css">
{% endblock %}

{% block app_content %}
    <h1>Browse Music</h1>
    <div class="music-genre-container">
        {% for music_genre in music_genres %}
            <div>
                {% with music_genre=music_genre %}
                    {% include '_music_category_browse.html' %}
                {% endwith %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
