{% extends 'base.html' %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="static/css/music_player.css">
    <link rel="stylesheet" href="static/css/all.css">
{% endblock %}

{% block scripts %}
    <script src="static/js/jquery-3.5.1.min.js"></script>
    <script src="static/js/music_player.js"></script>
    {{super()}}
{% endblock %}


{% block app_content %}
    <div id="container">
        <div id="audio-img">
            <img class="cover">
        </div>
        <div id="audio-player">
            <div id="audio-info">
                <span class="artist"></span> - <span class="title"></span>
            </div>
            <input id="volume" type="range" min="0" max="10" value="5">
            <br>
            <div id="audio-buttons">
                <button id="previous"></button>
                <button id="play"></button>
                <button id="pause"></button>
                <button id="stop"></button>
                <button id="next"></button>
            </div>
            <div class="clearfix"></div>
            <div id="tracker">
                <div id="progress-bar">
                    <span id="progress"></span>
                </div>
                <span id="duration"></span>
            </div>
            <div class="clearfix"></div>

            <ul id="playlist">
                {% for song, rate in zipped_songs_rates %}
                    <li class="li-song"
                        song={{ song.genre + "/" + song.filename }}
                        title="{{ song.name }}"
                        cover="{{ cover }}"
                        artist="{{ song.artist }}"
                        song_id="{{ song.id }}"
                    >{{ song.artist }} - {{ song.name }}
                    </li>
                    <div class="star-widget" rate="{{ rate.rate }}" song_id = {{ rate._song_id }}>
                        <input type="radio" id="{{ song.id }}-5" name="{{ song.id }}-rate" value="5">
                        <label for="{{ song.id }}-5" class="fas fa-star"></label>

                        <input type="radio" id="{{ song.id }}-4" name="{{ song.id }}-rate" value="4">
                        <label for="{{ song.id }}-4" class="fas fa-star"></label>

                        <input type="radio" id="{{ song.id }}-3" name="{{ song.id }}-rate" value="3">
                        <label for="{{ song.id }}-3" class="fas fa-star"></label>

                        <input type="radio" id="{{ song.id }}-2" name="{{ song.id }}-rate" value="2">
                        <label for="{{ song.id }}-2" class="fas fa-star"></label>

                        <input type="radio" id="{{ song.id }}-1" name="{{ song.id }}-rate" value="1">
                        <label for="{{ song.id }}-1" class="fas fa-star"></label>
                    </div>
                    <br>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}